* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background-color: #F5F4F0;
}

main {
  padding: 80px;
  padding-top: 88px;
  padding-bottom: 65px;
}

img {
  border-radius: 28px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.destination-headline {
  height: 800px;
  margin-top: 44px;
}

.trinity {
  object-position: bottom;
  margin-top: 64px;
}

.dublin-castle {
  object-position: center;
  margin-top: 48px;
}

.phoenix-park {
  object-position: center;
  margin-top: 48px;
}

.howth-cliffs {
  object-position: top;
  margin-top: 48px;
}

.temple-bar {
  object-position: center;
  margin-top: 48px;
}

h1 {
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

h3 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 12px;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 42px;
  color: #1B1B1B;
}

p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #333333;
}

.headline {
  text-transform: uppercase;
  color: #E1624F;
  font-weight: bold;
  line-height: 22px;
}

.good-for {
  font-weight: bold;
  margin-bottom: auto;
}

.history {
  font-weight: bold;
  color :#0C51A7;
}

.couples {
  font-weight: bold;
  color: #591B98;
}

.families {
  font-weight: bold;
  color: #E5245E;
}

.budget {
  font-weight: bold;
  color: #E95E10;
}

.nature {
  font-weight: bold;
  color: #228B22;
}

.adventure {
  font-weight: bold;
  color: #FF4500;
}

.culture {
  font-weight: bold;
  color: #008080;
}

.nightlife {
  font-weight: bold;
  color: #323264;
}

ul {
  padding-left: 24px;
  font-size: 16px;
}

ul li::marker {
  color: #333333;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

.conclusion {
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer {
  font-family: "Alice", serif;
  color: #696969;
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  width: 16px;
  vertical-align: middle;
  height: auto;
  display: inline;
  vertical-align: middle;
}