img {
  border-radius: 28px;  /* Adicionar o arredondamento da borda */
  width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer {
  color: #f3d1bd;
  text-align: center;
  padding-bottom: 4px;
}

footer img {
  width: 16px;
  vertical-align: middle;
}